// import here
@use "../../costumize" as *;
@use "../../components/mixins" as *;

// queue section
@include jump;
.queue {
    object { 
        width: 200px; 
        animation: jump 1s linear infinite alternate !important;
    }

    p { font-size: 0.9em; }

    .text-start {
        border-top: 1px solid $dark-coffee;
    }
    
    .fill-4 {
        h4 { font-size: 1.1em; }
        p { font-size: 1em; }
        button { font-size: 0.9em; }

        table {
            tr {
                td, th { 
                    padding: 0.5em;
                    border: 1px solid $gray-800; 
                    text-transform: capitalize;
                }
            }
        }
    }
}