// import here
@use "../../costumize" as *;
@use "../../components/mixins" as *;

// top section
@include pulse; @include jump;
.top {
    min-height: 600px;

    object {
        width: 200px;
        animation: jump 1s linear infinite alternate !important;
    }

    .btn-success {
        border-radius: 20px;
        @include transition-to-all-25;
        animation: pulse 1s linear infinite alternate;
        &:active { background-color: $light; }
    }

    p {
        font-size: 0.9em;
        font-weight: 400;
    }

    form {
        @include media-breakpoint-down(lg) {
            label { display: none; }
            input[type=text], input[type=email] { margin-bottom: 2rem; }
            input[type=number] { width: 40% !important; }
            .add, .subtract { width: 20% !important; font-size: 0.75em; }
        }

        .primary, .secondary, .coffee, .confirm {
            background-color: $dark-coffee;
            min-height: 500px;
        }

        .primary {
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
        }

        .fill {
            border-left: 1px solid $dark-coffee;
            border-right: 1px solid $dark-coffee;
        }

        .fill-3 {
            .card {
                height: 200px;

                img { object-fit: cover; }

                .card-img-overlay {
                    background-color: rgba($gray-900, 0.5);
                    @include transition-to-all-25;

                    h5 { font-size: 1em; text-transform: capitalize; }
                    p { font-size: 0.9em; }
                }

                &:hover {
                    .card-img-overlay { background-color: rgba($gray-900, 0); }
                }
            }
        }

        .fill-4 {
            border-bottom: 1px solid $dark-coffee;
            h4 { font-size: 1.1em; }
            p { font-size: 1em; }
            button { font-size: 0.9em; }

            table {
                tr {
                    td, th { 
                        padding: 0.5em;
                        border: 1px solid $gray-800; 
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}